<!DOCTYPE html>
<html lang="en">
{{>link}}
<body>
    <div class="error">
        <div class="op">
       <img src="img_404.png" alt="" width="40%">
       <button><a href="/">Go to Home</a></button>
       </div>
    </div>
</body>
</html>