<!DOCTYPE html>
<html lang="en">
{{>link}}
<body>
    {{>nav}}
    <h2>Meet Our Devlopers</h2>
    <section class="part1">
        <img class="images1" src="https://logingit.com/wp-content/uploads/2020/09/Capture.png" alt="abc" width="20%">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur debitis non nobis similique vitae commodi nisi accusamus id quaerat maiores facilis ad voluptatum officia, esse repellendus fuga fugit quae tempore perferendis repudiandae totam quibusdam expedita odit? Magnam quo eligendi illum ea pariatur amet. Ipsum ducimus nam quo fuga ipsam facilis laborum nisi deleniti? Vero id eveniet incidunt perspiciatis consectetur totam. Possimus error sequi id eum provident maxime labore odit esse sit. Non enim quaerat ex quasi cum consequuntur delectus aperiam?</p>
    </section>
    <section class="part2">
        <img class="images2" src="https://th.bing.com/th/id/OIP.40rupdUfvLRTRCRpY23bbQHaHW?pid=ImgDet&rs=1" alt="" width="20%">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit ducimus officia voluptatum temporibus! Hic quia explicabo neque vitae optio rerum minus cumque fuga nesciunt modi amet veritatis aliquid sequi, repudiandae quasi quod doloremque est nobis a dolores? Provident itaque tenetur odio fuga ad soluta aliquam nisi iusto, autem quisquam vel perspiciatis quibusdam ducimus obcaecati, dolores minus consectetur! Vero aliquid unde, porro, molestias ab explicabo velit adipisci ipsum quae quis et voluptate est eveniet optio distinctio inventore laboriosam consectetur aperiam id.</p>
    </section>
    <section class="part3">
        <img class="images3" src="https://i.kinja-img.com/gawker-media/image/upload/t_original/ijsi5fzb1nbkbhxa2gc1.png" alt="" width="20%">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit ducimus officia voluptatum temporibus! Hic quia explicabo neque vitae optio rerum minus cumque fuga nesciunt modi amet veritatis aliquid sequi, repudiandae quasi quod doloremque est nobis a dolores? Provident itaque tenetur odio fuga ad soluta aliquam nisi iusto, autem quisquam vel perspiciatis quibusdam ducimus obcaecati, dolores minus consectetur! Vero aliquid unde, porro, molestias ab explicabo velit adipisci ipsum quae quis et voluptate est eveniet optio distinctio inventore laboriosam consectetur aperiam id.</p>
    </section>
    <section class="part4">
        <img class="images4" src="https://th.bing.com/th/id/OIP.aQri1-GfG3ttw8jqsW2dWwHaHn?pid=ImgDet&rs=1" alt="" width="20%">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit ducimus officia voluptatum temporibus! Hic quia explicabo neque vitae optio rerum minus cumque fuga nesciunt modi amet veritatis aliquid sequi, repudiandae quasi quod doloremque est nobis a dolores? Provident itaque tenetur odio fuga ad soluta aliquam nisi iusto, autem quisquam vel perspiciatis quibusdam ducimus obcaecati, dolores minus consectetur! Vero aliquid unde, porro, molestias ab explicabo velit adipisci ipsum quae quis et voluptate est eveniet optio distinctio inventore laboriosam consectetur aperiam id.</p>
    </section>
</body>
</html>