<!DOCTYPE html>
<html lang="en">
<head>
    {{>link}}
</head>
<body>
    {{>nav}}
    </nav>
    <div class="main">
        <img src="cyberpank-1.jpg" alt="this is an image" width="30%">
        <div class="wap">
        <div class="content">
            <h1>Hey Buddy Do You Wanna play This Game</h1>
            <p>cyberpunk is one of most heavy and unoptymize Game made evevr</p>
            <button><a href="/contact">Contact Us</a></button>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque sequi earum tempora. Omnis, ullam architecto ab id distinctio officiis odio minus consectetur ex reprehenderit facilis veritatis quaerat, voluptas dignissimos nulla ducimus harum quibusdam fugit deserunt nobis, quam suscipit repellat laudantium. Consectetur provident odio vel quas porro dolore totam ad veritatis, mollitia laborum quae, rerum tempora. Vero fuga dolorem enim officiis provident impedit id, voluptatem velit. Sed cumque ut voluptatem enim?</p>
        </div>
    </div>
    </div>
</body>
</html>